body {
    margin: 20px;
}

strong {
    margin: 20px;
}
h1, h2 {
    margin-bottom: 20px;

}
#list {
   margin-left: 30px;
}

.list-group {
    cursor: pointer;
    margin-bottom: 50px;
}


.list-group-item {
}

.liheader {
position: relative;
}
.btn-success {
    position: absolute;
    right: 0;
}
.lifooter{
    position: relative;
    height: 24px;
    width: auto;
}

.description {
    margin: 20px;
}